body{
    background-color: rgb(247, 234, 232);
}
header{
    text-align: center;
}
main{
    text-align: center;
    padding: 5%;
}
main .container{
    margin: 2px auto;
    border: 1px solid black;
    box-shadow: 4px 4px 7px -3px rgb(0, 0, 0);
    background-color: rgb(184, 209, 231);
    max-width: 50rem;
    max-height: 50rem;
}
.container h3{
    text-decoration: underline;
}
main label{
    color: red;
    margin: 2%;
}
main #output{
    background-color: yellow;
    margin: 2%;
}
main #NTnumber{
    text-align: center;
    margin: 2%;
    background-color: yellowgreen;
  
}
